html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*@import "libs/normalize"; */
/*@import "libs/fa/font-awesome";*/
.my_container {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto; }
  .my_container::after {
    clear: both;
    content: "";
    display: table; }
  .my_container::after {
    clear: both;
    content: "";
    display: table; }

* {
  position: relative;
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 10px; }

h2, h3, h4 {
  margin: 0; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  min-height: 100%;
  float: left;
  width: 100%; }

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #393939; }
  body.fixed {
    position: fixed; }

.full_width {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .full_width:last-child {
    margin-right: 0; }

a {
  text-decoration: none;
  /*@include transition(color 1s ease-in);*/
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%;
  height: auto;
  float: left; }

@font-face {
  font-family: 'opensansreg';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#opensansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensansbold';
  src: url("fonts/opensans-bold-webfont.eot");
  src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.ttf") format("truetype"), url("fonts/opensans-bold-webfont.svg#opensansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensanssemibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#opensanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensanslight';
  src: url("fonts/opensans-light-webfont.eot");
  src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.ttf") format("truetype"), url("fonts/opensans-light-webfont.svg#opensanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumbold';
  src: url("fonts/titillium-bold-webfont.eot");
  src: url("fonts/titillium-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/titillium-bold-webfont.woff2") format("woff2"), url("fonts/titillium-bold-webfont.woff") format("woff"), url("fonts/titillium-bold-webfont.ttf") format("truetype"), url("fonts/titillium-bold-webfont.svg#titilliumbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumsemibold';
  src: url("fonts/titillium-semibold-webfont.eot");
  src: url("fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/titillium-semibold-webfont.woff2") format("woff2"), url("fonts/titillium-semibold-webfont.woff") format("woff"), url("fonts/titillium-semibold-webfont.ttf") format("truetype"), url("fonts/titillium-semibold-webfont.svg#titilliumsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumregular';
  src: url("fonts/titillium-regular-webfont.eot");
  src: url("fonts/titillium-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/titillium-regular-webfont.woff2") format("woff2"), url("fonts/titillium-regular-webfont.woff") format("woff"), url("fonts/titillium-regular-webfont.ttf") format("truetype"), url("fonts/titillium-regular-webfont.svg#titilliumsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h3, a {
  font-family: 'titilliumbold', sans-serif;
  font-weight: 600;
  margin: 0; }

h4 {
  font-family: 'titilliumregular', sans-serif;
  font-weight: 200;
  margin: 0; }

h2 {
  font-family: 'opensansbold', sans-serif;
  font-weight: 800;
  margin: 0; }

h5 {
  font-family: 'opensanssemibold', sans-serif;
  font-weight: 600;
  margin: 0; }

p {
  font-family: 'opensansreg', sans-serif;
  font-weight: 300; }

.my_container {
  max-width: 80.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px; }
  .my_container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 991px) {
    .my_container {
      padding: 0 20px; } }

/*
@import "partials/construction";
*/
.top_header {
  background: #7a429b;
  color: #ffffff;
  padding: 20px 0; }
  @media screen and (max-width: 767px) {
    .top_header h3 {
      font-size: 16px; } }

.bottom_header {
  padding: 20px 0; }
  @media screen and (max-width: 767px) {
    .bottom_header .logo {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%;
      text-align: center; }
      .bottom_header .logo:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 991px) {
    .bottom_header .logo img {
      width: 200px; } }
  @media screen and (max-width: 767px) {
    .bottom_header .logo img {
      margin: 0 auto;
      float: none; } }
  @media screen and (max-width: 767px) {
    .bottom_header .header_right {
      width: 100%;
      text-align: center;
      margin-top: 10px; } }
  @media screen and (max-width: 767px) {
    .bottom_header .header_right div:first-child {
      margin-left: auto; } }
  @media screen and (max-width: 767px) {
    .bottom_header .header_right div:last-child {
      margin-right: auto; } }
  .bottom_header .header_right img {
    padding-right: 20px;
    border-right: 2px solid #d5d5d5; }
    @media screen and (max-width: 991px) {
      .bottom_header .header_right img {
        width: 38px; } }
    @media screen and (max-width: 767px) {
      .bottom_header .header_right img {
        padding-right: 15px;
        width: 26px; } }
  .bottom_header h5 {
    font-size: 22px;
    padding-left: 20px;
    margin: auto; }
    @media screen and (max-width: 991px) {
      .bottom_header h5 {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .bottom_header h5 {
        padding-left: 15px;
        font-size: 14px; } }
    .bottom_header h5 span {
      font-family: 'opensansbold', sans-serif;
      font-weight: 800;
      color: #24c3e0; }

.hero_section {
  position: relative; }
  .hero_section .hero_top {
    padding-top: 30%;
    background: url(../images/hero-bg.jpg) no-repeat;
    background-size: cover;
    background-position: left; }
    @media screen and (max-width: 991px) {
      .hero_section .hero_top {
        padding: 20px 0;
        background-position: 59%; } }
    @media screen and (max-width: 767px) {
      .hero_section .hero_top {
        background: #e7e8e9;
        padding: 20px 0; } }
  .hero_section .hero_bottom {
    background: #678699;
    color: #ffffff;
    padding: 15px 0; }
    @media screen and (max-width: 767px) {
      .hero_section .hero_bottom h3 {
        font-size: 16px; } }
    .hero_section .hero_bottom ul {
      margin: 15px 0 0; }
      .hero_section .hero_bottom ul li {
        padding-left: 24px;
        margin-right: 5%; }
        @media screen and (max-width: 1200px) {
          .hero_section .hero_bottom ul li {
            margin-right: 1%; } }
        @media screen and (max-width: 767px) {
          .hero_section .hero_bottom ul li {
            font-size: 14px; } }
        .hero_section .hero_bottom ul li:before {
          content: '';
          background: url(../images/check-mark.png) no-repeat;
          width: 16px;
          height: 14px;
          position: absolute;
          left: 0;
          top: 6px;
          background-size: 100%; }
          @media screen and (max-width: 767px) {
            .hero_section .hero_bottom ul li:before {
              width: 12px;
              height: 12px;
              left: 6px;
              top: 8px; } }
        .hero_section .hero_bottom ul li:last-child {
          margin-right: 0; }
        .hero_section .hero_bottom ul li p {
          margin: 0; }
  .hero_section .form_wrap {
    position: absolute;
    bottom: -90px;
    right: 5%;
    width: 420px;
    z-index: 99;
    background: #ffffff; }
    @media screen and (max-width: 1200px) {
      .hero_section .form_wrap {
        width: 390px;
        right: 20px;
        bottom: -128px; } }
    @media screen and (max-width: 991px) {
      .hero_section .form_wrap {
        position: relative;
        right: 0;
        bottom: 0;
        float: right; } }
    @media screen and (max-width: 767px) {
      .hero_section .form_wrap {
        float: none;
        margin: 0 auto; } }
    @media screen and (max-width: 550px) {
      .hero_section .form_wrap {
        width: 100%; } }
    .hero_section .form_wrap .form_heading {
      background: #24c3e0;
      color: #ffffff;
      padding: 5px 0; }
      .hero_section .form_wrap .form_heading h3 {
        font-size: 32px; }
        @media screen and (max-width: 1200px) {
          .hero_section .form_wrap .form_heading h3 {
            font-size: 28px; } }
      .hero_section .form_wrap .form_heading p {
        font-size: 17px;
        margin: 0; }
        @media screen and (max-width: 1200px) {
          .hero_section .form_wrap .form_heading p {
            font-size: 15px; } }
    .hero_section .form_wrap form {
      background: #ffffff;
      padding: 22px; }
      @media screen and (max-width: 1200px) {
        .hero_section .form_wrap form .row {
          margin-bottom: 0; } }
      .hero_section .form_wrap form input {
        border: 1px solid #c8c8c8;
        color: #393939;
        height: 44px;
        -webkit-box-shadow: -4px 8px 15px -14px #000;
        -moz-box-shadow: -4px 8px 15px -14px #000;
        box-shadow: -4px 8px 15px -14px #000;
        font-size: 16px; }
        @media screen and (max-width: 1200px) {
          .hero_section .form_wrap form input {
            height: 38px; } }
      .hero_section .form_wrap form button {
        font-family: 'opensansbold', sans-serif;
        font-weight: 800;
        display: block;
        background: #393939;
        width: 100%;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer; }
        .hero_section .form_wrap form button:hover {
          background: #1c1c1c; }
    .hero_section .form_wrap .success_message {
      padding: 20px 5px;
      height: 300px; }
      .hero_section .form_wrap .success_message h2 {
        font-size: 26px;
        margin-bottom: 20px; }
        @media screen and (max-width: 767px) {
          .hero_section .form_wrap .success_message h2 {
            font-size: 22px; } }
      .hero_section .form_wrap .success_message p {
        color: #817f7f;
        padding: 0 5%; }
        @media screen and (max-width: 767px) {
          .hero_section .form_wrap .success_message p {
            font-size: 14px; } }
    .hero_section .form_wrap .errors p {
      font-size: 14px;
      margin: 0;
      height: 10px; }

.bottom_section {
  background: #f8f8f8;
  padding: 40px 0 100px; }
  .bottom_section h4 {
    font-size: 24px;
    margin-bottom: 15px; }
    @media screen and (max-width: 767px) {
      .bottom_section h4 {
        font-size: 18px; } }
    .bottom_section h4 span {
      font-family: 'titilliumbold', sans-serif;
      font-weight: 600; }
  .bottom_section p {
    color: #817f7f; }
    @media screen and (max-width: 767px) {
      .bottom_section p {
        font-size: 14px; } }
  .bottom_section h5 {
    font-size: 16px;
    margin: 20px 0 10px; }
    @media screen and (max-width: 767px) {
      .bottom_section h5 {
        font-size: 14px; } }
  .bottom_section li {
    padding-left: 20px; }
    .bottom_section li:before {
      content: '';
      background: url(../images/checkmark-blue.png) no-repeat;
      width: 15px;
      height: 15px;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 5px; }
      @media screen and (max-width: 767px) {
        .bottom_section li:before {
          width: 12px;
          height: 12px;
          left: 4px;
          top: 8px; } }
  .bottom_section .button_wrap {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 10px #188599;
    -moz-box-shadow: 0 0 10px #188599;
    box-shadow: 0 0 10px #188599;
    display: inline-block;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px; }
    @media screen and (max-width: 550px) {
      .bottom_section .button_wrap {
        width: 100%; } }
    .bottom_section .button_wrap a {
      font-size: 20px;
      color: #ffffff;
      background: #24c3e0;
      border-radius: 18px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      padding: 6px 20px; }
      @media screen and (max-width: 550px) {
        .bottom_section .button_wrap a {
          display: block; } }
      .bottom_section .button_wrap a:hover {
        background: #1999b0; }

.footer {
  padding: 30px 0 20px;
  background: #e7e8e9;
  color: #817f7f; }
  .footer p {
    font-size: 14px; }
    @media screen and (max-width: 767px) {
      .footer p {
        font-size: 12px; } }

/*# sourceMappingURL=main.css.map */
