// primary styles 

$charcoal: #3a3a3a;
$cobalt: #0020C2;
$red: #ed2124;

$purple: #7a429b;
$white: #ffffff;
$black: #000;
$lightBlue: #24c3e0;
$grayBlue: #678699;
$lightGray: #e7e8e9;
$darkGray: #393939;
$textGray: #817f7f;

